.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}
.gallery__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.blue{
    background-color: rgba(10,120,255,1);
}