@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    max-width: 1000px;
    min-width: 280px;
}

body > * {
    margin: 10px 20px 0px 20px;
}

p, ol > li{
    text-align: justify;
}